version: '3.8'
services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
      # Add any other Stream port you want to expose
      # - '21:21' # FTP

    # Uncomment the next line if you uncomment anything in the section
    # environment:
    # Uncomment this if you want to change the location of
    # the SQLite DB file within the container
    # DB_SQLITE_FILE: "/data/database.sqlite"

    # Uncomment this if IPv6 is not enabled on your host
    # DISABLE_IPV6: 'true'

    volumes:
      - ./data:/data
      - /etc/letsencrypt:/etc/letsencrypt

  # Test server
  back:
    build: .
    ports:
      - '8001:8001'
    volumes:
      - ./back/src/scripts:/app/back/src/scripts
      - /etc/letsencrypt:/etc/letsencrypt
    restart: unless-stopped

  # Obby parkour
  back2:
    build: .
    environment:
      - GAME_SCRIPT=parkourScript.js
    ports:
      - '8002:8001'
    volumes:
      - ./back/src/scripts:/app/back/src/scripts
      - /etc/letsencrypt:/etc/letsencrypt
    restart: unless-stopped

  # Football
  back3:
    build: .
    environment:
      - GAME_SCRIPT=footballScript.js
    ports:
      - '8003:8001'
    volumes:
      - ./back/src/scripts:/app/back/src/scripts
      - /etc/letsencrypt:/etc/letsencrypt
    restart: unless-stopped
